<div class="welcome-page">
    <div id="welcome-wrapper">
        <img src="src/images/soular1.jpg" alt="Welcome" class="img-responsive">
        <div id="header-text">
            <h1>{{welcome}}</h1>
            
        </div>
    </div>
</div>
<div>
    <div class="why-soular z-depth-1" id="call-to-action">
        <div class="row">
            <div class="col s11" id="collect-cta">
                <div class="row">
                    <div class="col s3" id="accredit">
                        <img src="src/images/cscs.png" alt="cscs">
                    </div>
                    <div class="col s3" id="accredit" >
                        <img src="src/images/sia.jpeg" alt="sia">
                    </div>
                    <div class="col s3" id="accredit">
                        <img src="src/images/sia2.png" alt="Sia2">
                    </div>
                    <div class="col s3" id="accredit">
                        <img src="src/images/has.jpg" alt="Has">
                    </div>
                </div>

            </div>
            <div class="col s1" id="right-cta">
                
            </div>
        </div>
    </div>
</div>
<section class="container">
    <div class="row" id="why-soular" >
        <div class="col s4 m4 l4" id="power1">
            <i class="material-icons">info_outline</i>
            <h4>Strong Protection</h4>
        </div>
        <div class="col s4 m4 l4 " id="power2" >
            <i class="material-icons">input</i>
            <h4>Excellent Service</h4>
        </div>
        <div class="col s4 m4 l4 " id="power3" >
        <i class="material-icons">label_outline</i>
        <h4>Computent</h4>
        </div>
    </div>
</section>

<section class="container" id="service-collection" >
    <div class="row">
        <div class="col s12 m6 l6 service-card-left"><!--Showing the left service card-->
            <div class="col s12 m12 l6 service-card">
                <div class="img-card">
                    <img src="src/images/our-protect.jpg" style="width: 100%" alt="Security">
                </div>
                This is a container1
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
            </div>
            <div class="col s12 m12 l6 service-card">
                <div class="img-card">
                    <img src="src/images/recruitment.jpg" alt="Recruitment" style="width: 100%" >
                </div>
                This is a container2
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
            </div>
        </div>
        <div class="col s12 m6 l6 service-card-right"><!--Showing the right hand service images-->
            <div class="row">
                <div class="col s12 m6 l6 service-card">
                    <div class="img-card">
                        <img src="src/images/recruitment.jpg" alt="Recruitment" style="width: 100%" >
                    </div>
                  
 
                </div>
                <div class="col s12 m6 l6 service-card">
                    <div class="img-card">
                        <img src="src/images/recruitment.jpg" alt="Recruitment" style="width: 100%" >
                    </div>
                    
 
                </div>
            </div>
             <div class="row">
                <div class="col s12 m12 l6 service-card">
                    <div class="img-card">
                        <img src="src/images/our-protect.jpg" style="width: 100%" alt="Security">
                    </div>
                   

                </div>
                <div class="col s12 m12 l6 service-card">
                    <div class="img-card">
                        
                        <img src="src/images/our-protect.jpg" style="width: 100%" alt="Security">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

