<div class="top-bar" id="top-page">
    <nav class="top-nav z-depth-4">
        <div class="container">
            <a href="#!" class="brand-logo">Soular</a>
            <ul class="right qcontact">
                <li><h3>02031191019</h3></li>
            </ul>
        </div>
    </nav>
    <div class="navbar z-depth-2">
    <nav #nav class="second-nav">
        <div class="nav-wrapper">
            <!--<a href="#!" class="brand-logo">Soular</a>-->
            <ul class="right ">
                <li><a [routerLink]="['./Home']" > Home </a></li>
                <li><a [routerLink]="['./Service']"> Service </a></li>
                <li><a [routerLink]="['./About']" > About us </a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a><i class="material-icons" (click)="slideMenu()" >menu</i></a></li>
            </ul>
        </div>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>
    </div>
    <!--implememting side navigation-->
    <div class="side-navigation" *ngIf="slidebar">
        <button class="waves-effect waves-light btn" (click)="onClose()" right> <i class="material-icons">close</i></button>
        <ul class="side-bar">
            <li>Home</li>
            <li>About</li>
            <li>Service</li>
            <li>Contact us</li>
        </ul>
    </div>

</div>
<div id="route">
    <router-outlet></router-outlet>
</div>
<!--Implementing JQeury in this page-->
<!--<sl-jquery></sl-jquery>-->
<!--Footer navigation start here-->
<div class="footer-container">
        <div class="row container">
            <div class="col s12 m4 l4" id="widget-1">
                <ul>
                    <li>Home</li>
                    <li>About us</li>
                    <li>Services</li>
                    <li>Career</li>
                    <li>Contact us</li>
                </ul>
                <p>If you have any security concerns or issues regarding your business, property, assets, valuables or VIP’s then Soular Security is the choice for you.

    READ MORE</p>
            </div>
            <div class="col s12 m4 l4" id="widget-2">
                <p>If you have any security concerns or issues regarding your business, property, assets, valuables or VIP’s then Soular Security is the choice for you.

    READ MORE</p>
            </div>
            <div class="col s12 m4 l4" id="widget-3">
                <p>If you have any security concerns or issues regarding your business, property, assets, valuables or VIP’s then Soular Security is the choice for you.

    READ MORE</p>
            </div>
        </div>
</div>
<nav class="footer">
    <ul>
        <li>copyright 2016 Soular Security Ltd</li>
    </ul>
</nav>
