<div>
    <nav class="top-nav">
        <div class="container">
            <a href="#!" class="brand-logo">Soular</a>
            <ul class="right qcontact">
                <li>0203465783 </li>
                <li> | </li>
                <li> login</li>
            </ul>
        </div>
    </nav>
    <nav class="second-nav">
        <div class="nav-wrapper container">
            <!--<a href="#!" class="brand-logo">Soular</a>-->
            <ul class="right ">
                <li><a href="#">Home</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#"><i class="material-icons">menu</i></a></li>
            </ul>
        </div>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>
</div>

<script>
    $(document).ready(function(){
        $(".button-collapse").sideNav();
    });
</script>