<div class="service-page">
    <div class="header-content">
        <!--<img src="src/images/security-2.jpg" alt="Header-img">-->
    </div>
    <div class="header-text">
        <h3>{{title}}</h3>
        <h5>Browse through our service and make your choice</h5>
    </div>   
</div>
<section class="container">
    <div class="row" id="service-row-top">
        <div class="col s12 m6 l3">
            <div class="service-card z-depth-1">
                <img src="src/images/security-2.jpg" class="responsive-img" alt="Header-img">
                <div class="service-card-text">
                    <h3>Security Guard</h3>
                    <a><button  type="button">browse</button></a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="service-card z-depth-1">
                <img src="src/images/security-2.jpg" class="responsive-img" alt="Header-img">
                <div class="service-card-text">
                    <h3>Close Protection</h3>
                    <button  type="button">browse</button>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="service-card z-depth-1">
                <img src="src/images/security-2.jpg" class="responsive-img" alt="Header-img">
                <div class="service-card-text">
                    <h3>Event Security</h3>
                    <button  type="button">browse</button>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="service-card z-depth-1">
                <img src="src/images/security-2.jpg" class="responsive-img" alt="Header-img">
                <div class="service-card-text">
                    <h3>Construction</h3>
                    <button  type="button">browse</button>
                </div>
            </div>
        </div>
    </div><!-- This is where the top service row ends-->

    <div class="row" id="service-row-middle">
        <div class="col s12 m4 l4">
            <div class="service-card z-depth-1">
                <img src="src/images/security-2.jpg" class="responsive-img" alt="Header-img">
                <div class="service-card-text">
                    <h3>Hospitality Security</h3>
                    <button type="button">browse</button>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="service-card z-depth-1">
                <img src="src/images/security-2.jpg" class="responsive-img" alt="Header-img">
                <div class="service-card-text">
                    <h3>Retail Security</h3>
                    <button type="button">browse</button>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="service-card z-depth-1">
                <img src="src/images/security-2.jpg" class="responsive-img" alt="Header-img">
                <div class="service-card-text">
                    <h3>Concierge Security</h3>
                    <button type="button">browse</button>
                </div>
            </div>
        </div>
    </div><!-- This is the end of the middle service row -->

    <div class="row" id="service-row-bottom">
        <div class="col s12 m6 l3">
            <div class="service-card z-depth-1">
                <img src="src/images/security-2.jpg" class="responsive-img" alt="Header-img">
                <div class="service-card-text">
                    <h3>Corporate/Office</h3>
                    <button type="button">browse</button>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="service-card z-depth-1">
                <img src="src/images/security-2.jpg" class="responsive-img" alt="Header-img">
                <div class="service-card-text">
                    <h3>Hotel Security</h3>
                    <button type="button">browse</button>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="service-card z-depth-1">
                <img src="src/images/security-2.jpg" class="responsive-img" alt="Header-img">
                <div class="service-card-text">
                    <h3>Mobile Security</h3>
                    <button type="button">browse</button>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="service-card z-depth-1">
                <img src="src/images/security-2.jpg" class="responsive-img" alt="Header-img">
                <div class="service-card-text">
                    <h3>Industrial Security</h3>
                    <button type="button">browse</button>
                </div>
            </div>
        </div>
    </div><!-- This is where the bottom service row ends-->
</section>

<router-outlet></router-outlet>