$primary-color: #FF5714;
$secondary-color: #E71D36;
$other-color: #011627;
.row{
  margin-bottom: 0px;
}
body{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav.second-nav{
    background-color: $other-color;
    height: 60px;
    ul>li a{
      font-size: 18px;
    }
}
nav.top-nav {
    background-color: $secondary-color;
    height: 100px;
    color: #000;
}
ul.qcontact li{
    padding: 0 5px;
    h3{font-size: 1.5em; color: #fff;}
}
#route{
  padding: 0px;
  margin: 0px;
}