$primary-color: #FF5714;
$secondary-color: #E71D36;
$other-color: #011627;
.row{
  margin-bottom: 0px;
}
body{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav.second-nav{
    background-color: $other-color;
    height: 60px;
    ul>li a{
      font-size: 18px;
    }
}
nav.top-nav {
    background-color: $secondary-color;
    height: 100px;
    color: #000;
}
ul.qcontact li{
    padding: 0 5px;
    h3{font-size: 1.5em; color: #fff;}
}
#route{
  padding: 0px;
  margin: 0px;
}
.side-navigation {
  position: fixed;
  top: 0px;
  float: left;
  right: 0px;
  padding: 0px;
  margin: 0px;
  background-color: rgba(0,0,0, 0.9);
  width: 300px;
  min-height: 100%;
  z-index: 9999;
  background-size: cover;
  transition: 1s;
  // display: none; //hiding the side nav
  .side-bar {
    margin: 0px;
    background-color: #fff;
    width: 300px;
    height: 1000px;
    padding-left: 20px;
    li{
      padding-left: 10px;
      padding-top: 20px;
    }

  }
}
.navbar-fixed{
  position: fixed;
}
.footer-container{
  background-color: $secondary-color;
  height: 400px;
}
.footer{
  height: 60px;
  background-color: $other-color;
}