$primary-color: #FF5714;
$secondary-color: #E71D36;
$other-color: #011627;
@media only screen and (min-width: 768px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
.welcome-page {
    // background-color: rebeccapurple;
    padding-top: 0px;
    margin-top: 0px;
    top: -50px;
    position: relative;
    z-index: -1;
    #welcome-wrapper {
        background-color: rgba(0,0,0, 1);
        width: 100%;
        max-height: 700px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        top: -20px;
       
        img {
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;
            min-width: 1000px;
            min-height: 700px;
            height: auto;
            // max-height: 600px;
            opacity: 0.5;
          
        }
        #header-text {
            margin: 0px auto;
            // border: 2px solid;
            // border-color: grey;
            // border-radius: 15px;
            position: absolute;
            top: 25%;
            left: 80px;
            h1{
                padding: 0 10px;
                font-size: 3em;
                font-family: Roboto;
                color: #fff;
            }
        }
    }
}

.why-soular {
    margin: 0 auto;
    position: relative;
    top: -120px;
    width: 700px;
    height: 100px;
    // background-color: red;
    text-align: center;
    z-index: -1;
    border-radius: 20px;
    border: 0;
    .security-row{
        ul>li {
            display: inline-flex;
            padding: 10px;
        }
    }
    #right-cta {
        background-color: lightgray;
        height: 100px;
        border-radius: 0px 20px 20px 0px;
    } 
    #collect-cta {
        background-color: #fff;
        height: 100px;
        border-radius: 20px 0px 0px 20px;

        #accredit img{
            width: 100px;
            height: 100px;
            padding: 10px 0;
            opacity: 0.5;
            filter: grayscale(80%);
            &:hover{filter: grayscale(20%);}
            
        }
    }  
}
#why-soular {
    margin: 0 auto;
    #power1, #power2, #power3 {
        margin: 0 auto;
        text-align: center;
    }
    i{
        font-size: 70px; 
        border: 6px solid;
        border-color: lightslategray;
        border-radius: 50%;
        padding: 20px;
        color: red;
    }
    h4 {
        font-size: 1.5em;
    }
}
section#service-collection{
    margin-top: 50px;
    .service-card {
        // width: 24%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        // margin-bottom: 25px;
        margin: auto;
        img {
            // min-width: 200px;
        }
    }
}
